@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Me.StudentManagement.Entity.Enum
@model Me.StudentManagement.Entity.Models.ClassRoom

@{
    Layout = "_ScriptLayout";
}




<form class="layui-form" onsubmit="return false">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="layui-inline">
        <div class="layui-form-item">
            <div class="form-group">
                <label asp-for="Grade" class="layui-form-label">年级</label>
                <div class="layui-input-block">
                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" required lay-verify="required" lay-filter="studentGrade" class="layui-input" placeholder="选择学生班级"></select>
                </div>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="form-group">
                <label asp-for="ClassRoomName" class="layui-form-label">班级名</label>
                <div class="layui-input-block">
                    <input asp-for="ClassRoomName" type="text" required lay-verify="required" class="layui-input" autocomplete="off" placeholder="输入班级名" />
                </div>
                <span asp-validation-for="ClassRoomName" class="text-danger"></span>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <div class="form-group">
                <label asp-for="Remark" class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea asp-for="Remark" class="layui-textarea" placeholder="输入学生备注信息"></textarea>
                </div>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="form-group">
                <div class="layui-input-block">
                    <button lay-submit class="layui-btn" lay-filter="class">提交</button>
                </div>
            </div>
        </div>

    </div>

</form>


