@model Me.StudentManagement.Entity.Models.StudentFullClassScore
@{
    ViewData["Title"] = "_ScriptLayout";
}

<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生管理系统 - Layui</title>
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/ClickOpenPage.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">学生管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a onclick="OpenAddStudent()" style="cursor:pointer">添加学生</a></li>
                <li class="layui-nav-item"><a onclick="OpenAddTeacher()" style="cursor:pointer">添加教师</a></li>
                <li class="layui-nav-item"><a onclick="OpenAddClass()" style="cursor:pointer">添加班级</a></li>

            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        陈东辉
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a asp-controller="Account" asp-action="Logout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" id="load" href="javascript:;">学生信息</a>
                        <dl class="layui-nav-child">
                            <dd><a onclick="stu()" style="cursor:pointer">所有学生</a></dd>
                            <dd><a onclick="tea()" style="cursor:pointer">所有老师</a></dd>
                            <dd><a onclick="room()" style="cursor:pointer">所有班级</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>



        <div class="layui-body" id="biaodan">
            @RenderBody()
        </div>
        
        <div class="layui-footer">
            陈东辉
        </div>
    </div>

    <script>
    //JavaScript代码区域
    
    </script>
</body>
</html>